form {
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

form input {
    width: 90%;
    margin-right: .5%;
}

form button {
    width: 8%;
}

/*#messages {*/
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/

/*#messages li {*/
    /*padding: 5px 10px;*/
/*}*/

/*#messages li:nth-child(2n+0) {*/
    /*background: #eee;*/
/*}*/

/*#messages {*/
    /*margin-bottom: 40px*/
/*}*/

/*#messages li.sysmsg {*/
    /*background: rgb(130, 224, 255);*/
/*}*/